.ipynb_checkpoints/
.DS_Store
*.csv
*.docx
*.pdf
*~
*.bundle
consort.png
.Rproj.user
.RData
.Rhistory
discovery-manual.md
!mm2 moore english pseudocode ep emergency one_pager 20210706.docx
!planned_readmissions_codes.docx
